{% extends 'Base.html' %}

{% load static %}
{% block container %}

<div class="container shop-container">
    <br><br>
    <div class="row align-items-center mb-4">
        <div class="col-md-8 col-12">
            <h2 class="fw-bold mb-3">Find Your Perfect Gear</h2>
        </div>
        <div class="col-md-4 col-12">
            <label class="form-label">Search</label>
            <input type="text" oninput="search()" id="searchInput" class="form-control" placeholder="Search products...">
        </div>
    </div>

    <!-- Filter and Sort -->
    <div class="row gy-3 mb-5">
        <div class="col-md-6 col-12">
            <h5>Filter:</h5>
            <select id="category-dropdown" class="form-select">
                <option value="all">Show All</option>
                <option value="helmet">Helmet</option>
                <option value="jacket">Jacket</option>
                <option value="gloves">Gloves</option>
                <option value="boots">Boots</option>
                <option value="kneeguard">Knee Guard</option>
                <option value="riding-pants">Riding Pants</option>
            </select>
        </div>
        <div class="col-md-6 col-12">
            <h5>Sort by:</h5>
            <select id="sort-options" class="form-select">
                <option value="default">Default</option>
                <option value="price-low">Price: Low to High</option>
                <option value="price-high">Price: High to Low</option>
                <option value="name-asc">Name: A-Z</option>
                <option value="name-desc">Name: Z-A</option>
            </select>
        </div>
    </div>

    <br>
    <p id="noResults" style="display:none; color: red; margin-top: 10px;">No results found.</p>
    <div class="row g-5" id="product-list">
        {% for i in helmets %}
        <div class="col-md-4 col-sm-4 product-card item" data-category="helmet" data-name="{{ i.name }}"
            data-price="{{ i.price }}">
            <div class="product">
                <h2>{{ i.brand }}</h2>
                <img src="/{{ i.image }}" class="img-fluid" alt="{{ i.name }}"><br>
                <h4 class="col-sm-12">{{ i.name }}</h4>
                <p>MRP Rs: {{ i.price }}</p>

                <div class="col-sm-12">
                    <a href="{% url 'fullProduct' category='helmet' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-eye"></i> View</button></a>
                    &nbsp;
                    {% if request.session.user_emailId is not None %}
                    <a href="{% url 'addtocart' category='helmet' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-cart-plus"></i>
                            CART</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% for i in jackets %}
        <div class="col-md-4 col-sm-4 product-card item" data-category="jacket" data-name="{{ i.name }}"
            data-price="{{ i.price }}">
            <div class="product">
                <h2>{{ i.brand }}</h2>
                <img src="/{{ i.image }}" class="img-fluid" alt="{{ i.name }}"><br>
                <h4 class="col-sm-12">{{ i.name }}</h4>
                <p>MRP Rs: {{ i.price }}</p>
                <div class="col-sm-12">
                    <a href="{% url 'fullProduct' category='jacket' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-eye"></i> View</button></a>
                    &nbsp;
                    {% if request.session.user_emailId is not None %}
                    <a href="{% url 'addtocart' category='jacket' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-cart-plus"></i>
                            CART</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% for i in gloves %}
        <div class="col-md-4 col-sm-4 product-card item" data-category="gloves" data-name="{{ i.name }}"
            data-price="{{ i.price }}">
            <div class="product">
                <h2>{{ i.brand }}</h2>
                <img src="/{{ i.image }}" class="img-fluid" alt="{{ i.name }}"><br>
                <h4 class="col-sm-12">{{ i.name }}</h4>
                <p>MRP Rs: {{ i.price }}</p>
                <div class="col-sm-12">
                    <a href="{% url 'fullProduct' category='gloves' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-eye"></i> View</button></a>
                    &nbsp;
                    {% if request.session.user_emailId is not None %}
                    <a href="{% url 'addtocart' category='gloves' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-cart-plus"></i>
                            CART</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% for i in boots %}
        <div class="col-md-4 col-sm-4 product-card item" data-category="boots" data-name="{{ i.name }}"
            data-price="{{ i.price }}">
            <div class="product">
                <h2>{{ i.brand }}</h2>
                <img src="/{{ i.image }}" class="img-fluid" alt="{{ i.name }}"><br>
                <h4 class="col-sm-12">{{ i.name }}</h4>
                <p>MRP Rs: {{ i.price }}</p>
                <div class="col-sm-12">
                    <a href="{% url 'fullProduct' category='boots' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-eye"></i> View</button></a>
                    &nbsp;
                    {% if request.session.user_emailId is not None %}
                    <a href="{% url 'addtocart' category='boots' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-cart-plus"></i>
                            CART</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% for i in kneeguard %}
        <div class="col-md-4 col-sm-4 product-card item" data-category="kneeguard" data-name="{{ i.name }}"
            data-price="{{ i.price }}">
            <div class="product">
                <h2>{{ i.brand }}</h2>
                <img src="/{{ i.image }}" class="img-fluid" alt="{{ i.name }}"><br>
                <h4 class="col-sm-12">{{ i.name }}</h4>
                <p>MRP Rs: {{ i.price }}</p>
                <div class="col-sm-12">
                    <a href="{% url 'fullProduct' category='kneeguard' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-eye"></i> View</button></a>
                    &nbsp;
                    {% if request.session.user_emailId is not None %}
                    <a href="{% url 'addtocart' category='kneeguard' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-cart-plus"></i>
                            CART</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% for i in ridingpant %}
        <div class="col-md-4 col-sm-4 product-card item" data-category="riding-pants" data-name="{{ i.name }}"
            data-price="{{ i.price }}">
            <div class="product">
                <h2>{{ i.brand }}</h2>
                <img src="/{{ i.image }}" class="img-fluid" alt="{{ i.name }}"><br>
                <h4 class="col-sm-12">{{ i.name }}</h4>
                <p>MRP Rs: {{ i.price }}</p>
                <div class="col-sm-12">
                    <a href="{% url 'fullProduct' category='riding-pants' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-eye"></i> View</button></a>
                    &nbsp;
                    {% if request.session.user_emailId is not None %}
                    <a href="{% url 'addtocart' category='riding-pants' product_id=i.id %}"><button
                            class="btn btn-custom col-sm-4"><i class="fa-solid fa-cart-plus"></i>
                            CART</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock container %}