<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{% static 'logo.png' %}" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'adminstyles.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <h3 class="navbar-brand"><i class="navbar-brand fas fa-user-shield"></i> Admin Panel</h3>
            {% if request.session.admin_name is not None %}
            <h3>Hello!.. {{request.session.admin_name}}</h3>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'admindashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manageproduct' %}"><i class="fas fa-box"></i> Manage Products </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'usermanage' %}"><i class="fas fa-users"></i> User Management </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'ordersadmin' %}"><i class="fas fa-shopping-cart"></i> Orders </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'adminsetting' %}"><i class="fa-solid fa-address-card"></i> Profile </a></li>
                    <li ></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> LogOut </a></li>
                </ul>
            </div>
        </div>    
    </nav>

    {% block container %}
    {% endblock %}

</body>
</html>