<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{% static 'logo.png' %}" />
    <title>RavNation - Riding Gears</title>
    <script src="https://kit.fontawesome.com/48b561d95d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css'%}">

</head>

<body>
    <header>
        <div class="row">
            
            <div class="col-sm-3">
                <img src="{% static 'logo.png' %}" alt="RavNation" class="logo">
                <h2 id="h">RavNation</h2>
            </div>
            <div class="col-sm-6 ">
                <nav>
                    <ul class="nav justify-content-center">
                        {% if request.session.user_emailId is None and request.session.adminemail is None %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'faq' %}">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
                        {% endif %}
                        {% if request.session.user_emailId is not None and request.session.adminemail is None %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Cart</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'faq' %}">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
                        {% endif %}
                        {% if request.session.adminemail is not None and request.session.user_emailId is None %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'addproduct' %}">add Product</a></li>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">LogOut</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'faq' %}">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="profile col-sm-3">
                <div class="justify-content-center">
                {% if request.session.User_name is None %}
                
                    <i class="fa-solid fa-user"></i>
                    <span> Welcome</span><br><br>
                    <a href="{% url 'login' %}"><button class="btn  btn-custom"><i
                                class="fas fa-sign-out-alt"></i> Login</button></a>

                    <a href="{% url 'regiuser' %}"><button class="btn  btn-custom"><i
                                class="fas fa-sign-out-alt"></i> SignUp</button></a>
                
                {% endif %}
                {% if request.session.User_name is not None %}
                <div class="justify-content-center">
                    
                    <h3><b><i class="fa-solid fa-user-tie"></i>&nbsp; Welcome, {{request.session.User_name}}</b></h3>

                    <a href="{% url 'viewprof' %}"><button class="btn btn-custom "><i class="fa-solid fa-street-view"></i> View Profile</button></a>
                    <a href="{% url 'logout' %}"><button class="btn btn-custom "><i class="fas fa-sign-out-alt"></i> Logout</button></a>
                
                </div>
                {% endif %}
            </div>
            </div>
        </div>
    </header>

    {% block container %}
    {% endblock %}


    <footer>
        <p>&copy; 2025 RavNation. All Rights Reserved.</p>
    </footer>
    <script defer src="{% static 'script.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>