body {
    background: linear-gradient(135deg, #000, #3a3a3a);
    color: white;
    font-family: 'Arial', sans-serif;
}
.navbar {
    background: linear-gradient(135deg, #000, #3a3a3a);
    padding: 15px;
    box-shadow: 0px 4px 10px whitesmoke;
}
.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.nav-link {
    color: white !important;
    transition: 0.3s;
}
.nav-link:hover {
    color: white !important;
}
.content {
    padding: 20px;
    color: white;
    
}
.form-control, .btn {
    background: linear-gradient(135deg, #000, #3a3a3a);;
    color: white;
    border: 1px solid white;
}
.btn {
    background: linear-gradient(135deg, #000, #3a3a3a);;
    color: white;
    border: 1px solid white;
}
.btn:hover {
    background: white;
    color: white;
}
.card {
    background: linear-gradient(135deg, #000, #3a3a3a);
    color: gray;
    padding: 20px;
    border: 2px solid white;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.icon {
    font-size: 30px;
    margin-right: 10px;
}

.product {
    background: linear-gradient(135deg, #000, #3a3a3a);
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
    border: 1px solid white;
}

.product:hover {
    transform: scale(1.05);
}

.product img{
    width: 125px;
    height: 125px;
    align-items: center;
}

